<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 为JAVA Bean起类别名 -->
    <typeAliases >
        <!-- 别名方式1，一个一个的配置 type中放置的是类的全路径，alias中放置的是类别名
        <typeAliase type="my" alias="UserBean"/> -->
        <!-- 别名方式2，自动扫描，将JAVA类的类名作为类的类别名 -->
        <package name="my"/>
    </typeAliases>

    <environments default="development">
        <!-- 配置具体的某一个环境id - 当前环境的命名-->
        <environment id="development">
            <!-- 事务管理方式, 当前框架管理数据库事务使用什么技术.
            type - 使用的具体技术. JDBC, 就是Connection.commit()/rollback()
            -->
            <transactionManager type="JDBC" />
            <!-- 数据源, 访问的数据库参数 type - 管理方式, 管理Connection的方式,POOLED , 代表池化管理. 就是连接池.-->
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://127.0.0.1:5432/postgres" />
                <property name="username" value="postgres" />
                <property name="password" value="password" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 告知映射文件方式1，一个一个的配置
        <mapper resource="my/mapper/UserMapper.xml"/>-->
        <!-- 告知映射文件方式2，自动扫描包内的Mapper接口与配置文件-->
        <package name="my/mapper"/>
    </mappers>
</configuration>