<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <config>
    <!--add key="repositoryPath" value=".\packages" /-->
  </config>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="Bing" value="https://msasg.pkgs.visualstudio.com/_packaging/Bing/nuget/v3/index.json" />
    <add key="Pacman" value="https://msasg.pkgs.visualstudio.com/_packaging/Pacman/nuget/v3/index.json" />
    <add key="DaMusg" value="https://damusg.pkgs.visualstudio.com/DefaultCollection/_packaging/common-packages/nuget/v3/index.json" />
    <add key="DaMusg-Ref" value="https://damusg.pkgs.visualstudio.com/DefaultCollection/_packaging/common-references/nuget/v3/index.json" />
    <add key="OSSMSFT" value="https://ossmsft.pkgs.visualstudio.com/_packaging/OSS_All/nuget/v3/index.json" />
    <add key="MSCosmos" value="https://mscosmos.pkgs.visualstudio.com/DefaultCollection/_packaging/CosmosProd/nuget/v3/index.json" />
    <add key="Trill" value="https://trill.pkgs.visualstudio.com/_packaging/Trill/nuget/v3/index.json" />
    <add key="Geneva" value="https://msblox.pkgs.visualstudio.com/DefaultCollection/_packaging/AzureGenevaMonitoring/nuget/v3/index.json" />
    <add key="BigData" value="https://msdata.pkgs.visualstudio.com/_packaging/BigData/nuget/v3/index.json" />
    <add key="CoreXT" value="https://corext.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/CoreXT/nuget/index.json" />
    <add key="MsIntern" value="https://corext.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/Microsoft-Internal/nuget/index.json" />
    <add key="NugetOrg" value="https://corext.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/CoreXTSelectiveNugetMirror/nuget/index.json" />
    <add key="CloudBuild" value="https://mseng.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/CloudBuild/nuget/index.json" />
    <add key="OSS" value="https://msasg.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/OSS/nuget/index.json" />
    <add key="CosmosTest" value="https://mscosmos.pkgs.visualstudio.com/DefaultCollection/_packaging/CosmosTest/nuget/v3/index.json" />
    <add key="Bing-Pacman" value="https://msasg.pkgs.visualstudio.com/_packaging/Bing-Pacman/nuget/v3/index.json" />
    <add key="Cosmos-Pacman" value="https://msdata.pkgs.visualstudio.com/_packaging/Cosmos-Pacman/nuget/v3/index.json" />
    <add key="IPC" value="https://msasg.pkgs.visualstudio.com/_packaging/IPC/nuget/v3/index.json" />
    <add key="OldBond" value="https://msazure.pkgs.visualstudio.com/_packaging/OldBond/nuget/v3/index.json" />
  </packageSources>
</configuration>